.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__button {
    margin-top: 10px;

    &__icon {
      width: 30px;
    }
  }
}

.pomodoro__icon {
  color: white;
  transform: scale(1.2);
}
.matrix__icon {
  color: white;
  transform: scale(1.2);
}
.list__icon {
  color: white;
  transform: scale(1.2);
}
.graphic__icon {
  color: white;
  transform: scale(1.2);
}
.albun__icon {
  color: white;
  transform: scale(1.2);
}
.notes__icon {
  color: white;
  transform: scale(1.2);
}
