.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__button {
    margin-top: 10px;

    &__icon {
      width: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
    background: #F29166;
    width: 100%;
    position: relative;
    bottom: 0;
    justify-content: space-around;
  }
}

.pomodoro__icon {
  color: white;
  transform: scale(1.2);
}
.matrix__icon {
  color: white;
  transform: scale(1.2);
}
.list__icon {
  color: white;
  transform: scale(1.2);
}
.graphic__icon {
  color: white;
  transform: scale(1.2);
}
.albun__icon {
  color: white;
  transform: scale(1.2);
}
.notes__icon {
  color: white;
  transform: scale(1.2);
}
