.task {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__lista {
    height: 50vh;
    width: 95%;
    overflow-y: scroll;
    padding: 0;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 12px 0;

    & > div {
      width: 270px;
    }
  }

  @media screen and (max-width: 768px) {
  &__lista {
    height: 29vh;
  }
}}

@media screen and (max-width: 768px) {
  .task__form {
    flex-direction: column; /* Altera a direção para coluna */
    align-items: stretch; /* Todos os elementos têm a largura igual */
    margin: 0 0 35px 0;

    & > div {
      width: initial;
      margin-bottom: 10px;
    }
  }

  /* Estilos adicionais para os elementos dentro do formulário quando empilhados */
  .task__form .task__form__textarea {
    width: 100%; /* O textarea deve ocupar toda a largura */
    margin-top: 12px; /* Adicione um espaçamento superior */
  }
  .task__form button {
    width: 100%; /* O botão também deve ocupar toda a largura */
    margin-top: 15px;
  }
}




